{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
    <div id="post-area">
        {% if post.category %}
            <span class="badge bg-secondary float-right">{{ post.category }}</span>
        {% else %}
            <span class="badge bg-secondary float-right">미분류</span>
        {% endif %}
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
        <h5 class="text-muted">{{ post.hook_text }}</h5>

        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">
            by
            <a href="#">{{ post.author | upper }}</a>
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm" style="float: right" href="/blog/update_post/{{ post.pk }}/" role="button">
                    <i class="fa-solid fa-pen"></i>  Edit Post
                </a>
            {% endif %}
            <p>{{ post.created_at }}</p>
        </div>

        <!-- Preview image figure-->
        {% if post.head_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image" /></figure>
        {% else %}
            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random image" />
        {% endif %}

        <!-- Post content-->
        <section class="mb-5">
            <p>{{ post.get_content_markdown | safe }}</p>
            {% if post.tags.exists %}
                <i class="fa-regular fa-hashtag"></i>
                {% for tag in post.tags.iterator %}
                    <a href="{{ tag.absolute_url }}"><span class="badge text-bg-light">{{ tag }}</span></a>
                {% endfor%}
                <br/>
                <br/>
            {% endif %}

            {% if post.file_upload %}
                <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>
                    Download:

                    {% if post.get_file_ext == 'csv' %}
                        <i class="fa-regular fa-file-csv"></i>
                    {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                        <i class="fa-regular fa-file-excel"></i>
                    {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                        <i class="fa-regular fa-file-word"></i>
                    {% else %}
                        <i class="fa-regular fa-file"></i>
                    {% endif %}
                    {{ post.get_file_name }}
                </a>
            {% endif %}
        </section>
    </div>

    <div id="comment-area">
        <!-- Comments section-->
        <section class="mb-5">
            <div class="card bg-light">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <!-- Comment form-->
                        <form id="comment-form" method="post" action="{{ post.get_absolute_url }}new_comment/" class="mb-4">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form | crispy }}
                            </div>
                            <button type="submit" class="btn btn-primary mt-2" style="float: right">Submit</button>
                        </form>
                    {% else %}
                        <a role="button" class="btn btn-outline-dark btn-sm w-100" href="#" data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a>
                    {% endif %}
                </div>
            </div>

            {% if post.comment_set.exists %}
                {% for comment in post.comment_set.iterator %}
                    <div class="d-flex mt-3" id="comment-{{ comment.pk }}">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <h5 class="fw-bold">
                                {{ comment.author.username }} &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                            </h5>
                            <p>{{ comment.content | linebreaks }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
    </div>
{% endblock %}